/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: center;
    color: #555;
}

/* Botón */
.btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    
}

.btn:hover {
    background-color: #2980b9;
}

/* Tabla de carrito */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    color: #333;
}

/* Para mensajes de compra */
.message {
    color: #27ae60;
    text-align: center;
    font-size: 18px;
}

.error-message {
    color: #e74c3c;
    text-align: center;
    font-size: 18px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
